.intro, .main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro .background{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

    background-image: url(../assets/wallpaper1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
    z-index: -1;
}

.main{
    width: 100%;
}

.head{
    display: flex;
    position: relative;
    left: -100vw;
    width: 100%; /**/
    min-height: 100px;
    padding: 40px 0;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: rgba(39,39,39,0.8);
    justify-content: center;
    align-items: center;
    transition: all 0.2s 0.5s;
}
.vf{
    opacity: 0;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 3px;
    transition: all 0.3s 1s;
}

.mini-nav{
    display: flex;
    position: relative;
    top: 100px;
    width: 100%;
    height: 25px;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.1s 1.5s;
}

.mini-item{
    display: flex;
    width: 150px;
    height: 100%;
    margin: 0 5px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: rgba(39,39,39,0.3);
}

.mini-item:hover{
    background-color: var(--black-trans-5);
}

@media only screen and (max-width: 500px){
    
    .head{
        padding: 20px 0;
    }
    .vf{
        font-size: 20px;
    }

}
@media only screen and (min-width: 800px){

    .head{
        padding: 40px 0;
    }
    .vf{
        font-size: 40px;
    }

}