:root{
	--w: 20px;
	--h: 2px;
	--m: 5px;
	--color: rgba(248,248,248,0.9);
}

span[class*=menu]:before{
	display: block;
	content: '';
	position: relative;
	top: -10px;
	left: calc(var(--m)*(-1));
	height: var(--h);
	width: var(--w);
	margin: var(--m);
	background-color: var(--color);
}
span[class*=menu]{
	display: block;
	position: relative;
	width: var(--w);
	height: var(--h);
	margin: calc(var(--m) + 20px);
	background-color: var(--color);
	transition: 0s;
}
span[class*=menu]:after{
	display: block;
	content: '';
	position: relative;
	left: calc(var(--m)*(-1));
	bottom: 7px;
	height: var(--h);
	width: var(--w);
	margin: var(--m);
	background-color: var(--color);
}

span.menu2:before, span.menu2, span.menu2:after{background-color: var(--blue)}