body{
	margin: 0;
	background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("../bg.jpg") fixed center center;
	text-align: center;}
.blak{
	color: black;
}
.menutext{
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: all ease 0.3s;
}
.menutext:hover{
	border-bottom: 2px solid white;
}
.mainform{
	background: white;
	padding: 2% 2% 2% 2%;

}
.containerr{
	margin: 2% 5% 5% 5%;
}
small{
	font-size: .4em;
	opacity: .8;
}
.eventarea{
	margin: 1% 1% 1% 1%;
	padding: 2% 2% 2% 2%;
	border:solid 2px grey;
}
.enterthedragon{
	background: rgba(0,0,0,)

}
.checker{
	background: rgba(0,0,0,.1);
}
.border{
	border: solid 1px black
}
.center{
	padding-left: 8%;
}
.imagebehave{
	padding-top: 1%;
	width: 10%;
	height: 10%;
}
.menutext{
	border-bottom: solid 2px rgba(0,0,0,0);
	transition: all ease 0.4s;

}
.menutext:hover{
	border-bottom: solid 2px white;
}
console.log('%c My message here', "background: blue; color: black; padding-left:10px;");